@charset "UTF-8";
@import '../../../styles/abstract/abstract';

:host {
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 75px;

	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

#side-nav {
	// @extend .mv-wine;
	// @extend .highlight-menu;

	width: $sidebar-width;
	
	&.fixed {
		@media #{$small-and-down} {display: none;}
		@media only screen and (max-width: 992px){
			/* RESET */
			transform: initial;
		}
	}
	

	li {
		background-color: initial;
		a {
			padding: 0 16px;
			color: rgba(#fff, .7);
			&:hover {background-color: rgba(0,0,0,.05);}
			> i.material-icons {
				color: rgba(#fff, .7); 
			}

			&:not(.is-active):hover {
				i.material-icons {
					color: rgba(#fff, .8); 
				}
			}

			> i.material-icons:not(.is-active):hover {

			}

			&.is-active{
				i.material-icons {
					color: #fff; 
				}
			}
		}
	}

	li.brand {
		padding: 10px 15px;
		height: $topbar-height;
		// background: url('../img/muuving-logo-grayscale.png');
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: contain;
	}

	li:last-child {
		position: absolute;
		bottom: 65px;
		padding: 0 15px;
		width: 100%;

		a {
			display: initial;
			padding: 0;
			height: 0;
		}
	}
}

.brand-image {
	opacity: 0.9;
	-khtml-opacity: 0.9;
	-webkit-filter: brightness(135%);
	filter: brightness(135%);

	&:hover {
		opacity: 1;
		@include transition(opacity, 300ms);
	}
}

.side-nav--thin {
	> li {
		> a {
			text-align: center;
			> i.material-icons {
				float: initial;
				margin: 0;
				width: initial;
			}
		}
	}
}