    <nav class="reset-nav">		
		<ul id="side-nav" class="z-depth-1 side-nav side-nav--thin fixed mv-wine-dark">
			<li class="brand">
				<img src="../../../assets/light-logo.png" class="brand-image responsive-img" alt="Logo Muuving">
			</li>
			<li>
				<a class="tooltipped is-active" data-position="right" data-delay="50" data-tooltip="Orçamentos">
					<i class="material-icons">library_books</i>
				</a>
			</li>
			<li>
				<a class="waves-effect tooltipped" data-position="right" data-delay="50" data-tooltip="Analytics">
					<i class="material-icons">insert_chart</i>
				</a>
			</li>
			<!--
			<li>
				<a class="waves-effect tooltipped" data-position="right" data-delay="50" data-tooltip="Produtos">
					<i class="material-icons">shopping_cart</i>
				</a>
			</li>
			<div class="divider"></div>
			<li>
				<a class="waves-effect tooltipped" data-position="right" data-delay="50" data-tooltip="Configurações">
					<i class="material-icons">settings</i>
				</a>
			</li>
			<li>
				<a>
					<img class="responsive-img" alt="Logo Ornare">
				</a>
			</li>-->
		</ul>
	</nav>