/* Classes */

.u-helper {}

.u-utility {}

.u-utility-name {}

.u-row {
    @extend .row;
    margin-bottom: 0;
}

.u-row .u-col,
.row .u-col {
    @extend .col;
    padding-left: 0;
    padding-right: 0;
}

.u-row .col {
    @extend .col;
}

// Exemplo
// .u-center-transform { position: absolute; left: 50%; -webkit-transform: translate(-50%); -ms-transform: translate(-50%); transform: translate(-50%);}
// .u-icon-and-text { display: flex; align-items: flex-start; i {margin-right: .25em;}}
// .u-no-scroll {overflow-y: hidden;}
// .u-hidden {opacity: 0;}
// .u-no-margin {margin: 0;}
// .u-no-margin-start {margin-top: 0;}
// .float {
// 	@include box-shadow(6px, 6px, 5px, 0);
// 	position: absolute;
// 	left: 10px;
// 	top: 10px;
// 	bottom: initial;
// 	right: initial;
// 	&.top-right { position: absolute; top: 10px; right: 10px; bottom: initial; left: initial;}
// 	&.top-left { position: absolute; top: 10px; left: 10px; bottom: initial; right: initial;}
// 	&.bottom-left { position: absolute; bottom: 10px; left: 10px; top: initial; right: initial;}
// 	&.bottom-right { position: absolute; bottom: 10px; right: 10px; top: initial; left: initial;}
// }
.mv-col {
    box-sizing: border-box;
    padding: 0 $gutter-width / 2;
    min-height: 1px;
    @media #{$small-and-down} {
        padding: 0;
    }
}

.reduced-padding {
    &.card-content,
    &.card-panel {
        padding: calc(20px - 0.75rem);
    }
}

tr,
li {
    &.row-inputs {
        .input-field {
            margin-top: 0;
        }
        input,
        input.select-dropdown {
            margin-bottom: 0;
        }

        // &:nth-child(odd) {
        //     background-color: rgba(0, 0, 0, 0.03);
        // }
    }
}
