.black-primary-text {
    color: rgba(#000, 0.87)
}

.black-secondary-text {
    color: rgba(#000, 0.54)
}

.dim-text {
    color: rgba(#000, 0.38)
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

// .title {
//     font-family: $head-font;
// }
.bold {
    font-weight: bold;
}

.u-nomargin-b {
    -webkit-margin-before: 0;
}

.u-nomargin-a {
    -webkit-margin-after: 0;
}

.font-xlarge {
    font-size: $font-xlarge;
}

.font-large {
    font-size: $font-large;
}

.font-medium {
    font-size: $font-medium;
}

.font-small {
    font-size: $font-small;
}

.title-line-height {
    line-height: 130%;
}

.readonly-value-label+ {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0 0 1em 0;
    }
}