.collapsible-header {
    padding: 0 1rem;
    .spinner {
        display: inline-block;
        margin-right: 1rem;
        width: 2rem;
        text-align: center;

        .preloader-wrapper {
            vertical-align: middle;
            @extend .tiny;
        }
    }
}

.collapsible-header,
md2-accordion-header {
    display: block;
    cursor: pointer;
    min-height: $collapsible-height;
    line-height: $collapsible-line-height;
    background-color: $collapsible-header-color;
    border-bottom: 1px solid $collapsible-border-color;
    md-icon,
    mdl-icon,
    .material-icons {
        width: 2rem;
        font-size: 1.6rem;
        line-height: 3rem;
        display: block;
        float: left;
        text-align: center;
        margin-right: 1rem;
    }
}

// md2-accordion-tab
// .md2-accordion-tab-active>.md2-accordion-header
.mv-collapsible {
    md2-accordion-tab {
        .md2-accordion-header {
            padding: 0;
            border-bottom: none;
            min-height: 43px;
            box-shadow: none;
            background-color: $collapsible-header-color;
        }
        .md2-accordion-tab-content {
            padding: .75rem;
            @media #{$medium-and-up} {
                padding: 1rem;
            }
            @media #{$large-and-up} {
                padding: 2rem;
            }
        }
        &.md2-accordion-tab-active {
            >.md2-accordion-header {
                border-bottom: 1px solid $collapsible-border-color;
                border-bottom: none;
                box-shadow: none;
            }
        }
    }
}

.collapsible {
    border-top: 1px solid $collapsible-border-color;
    border-right: 1px solid $collapsible-border-color;
    border-left: 1px solid $collapsible-border-color;
    margin: $element-top-margin 0 $element-bottom-margin 0;
}

.collapsible-body {
    display: none;
    border-bottom: 1px solid $collapsible-border-color;
    box-sizing: border-box;
    padding: 2rem;
}

// sideNav collapsible styling
.side-nav,
.side-nav.fixed {
    .collapsible {
        border: none;
        box-shadow: none;
        li {
            padding: 0;
        }
    }
    .collapsible-header {
        background-color: transparent;
        border: none;
        line-height: inherit;
        height: inherit;
        padding: 0 $sidenav-padding;
        &:hover {
            background-color: rgba(0, 0, 0, .05);
        }
        i {
            line-height: inherit;
        }
    }
    .collapsible-body {
        border: 0;
        background-color: $collapsible-header-color;
        li a {
            padding: 0 (7.5px + $sidenav-padding) 0 (15px + $sidenav-padding);
        }
    }
}