.u-no-padding {
    .card-content {
        padding: 0;
    }
}

.card,
mz-card {
    &.no-title {
        .card-title {
            display: none !important;
        }
    }
}

.card-panel {
    @media #{$small-and-down} {
        padding: .75rem;
    }
}