// Table of Contents:
//
//  1. MD & MDL Select
//  2. File Input
//  3. Icon Prefix

/* 1. MD & MDL Select
========================================================================== */

md-input-container,
mdl-textfield,
.mdl-textfield {
    width: 100%;
}

mdl-option {
    &.not-is-option {
        .mdl-checkbox {
            display: none;
        }
    }
}

mdl-select {
    option.new-option {
        font-style: italic;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.04em;
        line-height: 1;
        display: -ms-flexbox;
        display: flex;
        min-height: 48px;
        box-sizing: border-box;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 16px;
        // color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        &:hover {
            background-color: rgb(238, 238, 238);
        }
    }
    .new-option {
        // background-color: transparent;
        &:hover {
            background-color: rgb(238, 238, 238);
        }
    }
}


/* 2. File Input
========================================================================== */

.file-field {
    position: relative;
    input {
        border-radius: 0;
        outline: none;
        height: $input-height;
        background-color: transparent;
    }
    .file-path-wrapper {
        overflow: hidden;
        padding-left: 10px;
    }
    input.file-path {
        width: 100%;
        border: none;
        border-bottom: $input-border;
        font-family: Questrial;
        border-radius: 0;
        outline: none;
    }
    .btn {
        float: left;
        height: $input-height;
        line-height: $input-height;
    }
    span {
        cursor: pointer;
    }
    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
}


/* 3. Icon Prefix
========================================================================== */

.prefix {
    position: absolute;
    width: $input-height;
    font-size: 2rem;
    transition: color .2s;
    &.active {
        color: $input-focus-color;
    }
}

.prefix~input,
.prefix~mdl-textfield,
.prefix~md-textfield,
.prefix~textarea,
.prefix~label,
.prefix~.validate~label,
.prefix~.autocomplete-content {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
}

.prefix~label {
    margin-left: 3rem;
}

@media #{$medium-and-down} {
    .prefix~input,
    .prefix~mdl-textfield,
    .prefix~md-textfield {
        width: 86%;
        width: calc(100% - 3rem);
    }
}

@media #{$small-and-down} {
    .prefix~input,
    .prefix~mdl-textfield,
    .prefix~md-textfield {
        width: 80%;
        width: calc(100% - 3rem);
    }
}