// Table of Contents:
//  1. Checkbox
//  2. File Input
//  3. Icon Prefix
//  4. Text Input
//  5. Materialize Reset

/* 1. Checkbox
========================================================================== */

.mdl-checkbox__tick-outline {
    -webkit-mask: url('/assets/images/tick-mask.svg?embed');
    mask: url('/assets/images/tick-mask.svg?embed');
}

.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
    -webkit-mask: url('/assets/images/tick.svg?embed');
    mask: url('/assets/images/tick.svg?embed');
    background-image: url('/assets/images/tick-mask.svg?embed');
}


/* 2. File Input
========================================================================== */

.mdl-select {
    .mdl-textfield__input {
        margin-bottom: 0;
    }
}

.file-field {
    position: relative;
    input {
        border-radius: 0;
        outline: none;
        height: $input-height;
        background-color: transparent;
    }
    .file-path-wrapper {
        overflow: hidden;
        padding-left: 10px;
    }
    input.file-path {
        width: 100%;
        border: none;
        border-bottom: $input-border;
        font-family: Questrial;
        border-radius: 0;
        outline: none;
    }
    .btn {
        float: left;
        height: $input-height;
        line-height: $input-height;
    }
    span {
        cursor: pointer;
    }
    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
}


/* 3. Icon Prefix
========================================================================== */

.prefix {
    position: absolute;
    width: $input-height;
    font-size: 2rem;
    transition: color .2s;
    &.active {
        color: $input-focus-color;
    }
}

.prefix~input,
.prefix~mdl-textfield,
.prefix~md-textfield,
.prefix~textarea,
.prefix~label,
.prefix~.validate~label,
.prefix~.autocomplete-content {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
}

.prefix~label {
    margin-left: 3rem;
}

@media #{$medium-and-down} {
    .prefix~input,
    .prefix~mdl-textfield,
    .prefix~md-textfield {
        width: 86%;
        width: calc(100% - 3rem);
    }
}

@media #{$small-and-down} {
    .prefix~input,
    .prefix~mdl-textfield,
    .prefix~md-textfield {
        width: 80%;
        width: calc(100% - 3rem);
    }
}


/* 4. Text Input
========================================================================== */

.large-text-input {
    // $label-size: 1.3rem;
    &.input-field {
        // margin-top: $label-size;
    }
    .input-field {
        // margin-top: $label-size;
        input {
            font-size: 1.5rem; // &+label:not(.label-icon).active {
            //     font-size: $label-size;
            //     line-height: 1.1;
            // }
        }
    }
}


/* 5. NG2 Tag Input
========================================================================== */

tag-input {
    margin-top: 1rem;
    .tag__text {
        font-family: $body-font;
    }
    tag-input-form {
        width: 100% !important;
        .ng2-tag-input__text-input {
            width: 100% !important;
            height: 3rem !important;
            padding: 0 !important;
            font-family: $body-font !important;
        }
    }
    .ng2-tag-input {
        margin: 0 0 20px 0;
        border-bottom: 1px solid #9e9e9e !important;
        padding: 0 !important;
        &.ng2-tag-input--focused {
            border-bottom: 1px solid $secondary-color !important;
            box-shadow: 0 1px 0 0 $secondary-color;
        }
    }
}

ng2-dropdown-menu {
    .ng2-dropdown-menu {
        padding: 0 !important;
    }
}

.ng2-dropdown-menu {
    .ng2-dropdown-menu__options-container {
        .ng2-menu-item {
            font-family: $body-font;
            font-size: 1rem;
            color: $dropdown-color;
        }
    }
}


/* 6. File upload
========================================================================== */
.drop-area {
    border: dashed 3px lightgray;
    .drop-area__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &.is-drop-over {
        border-color: $primary-color;
        i.material-icons {
            color: $primary-color !important;
        }
    }
}