.preloader-wrapper.tiny {
    width: 24px;
    height: 24px;
}

mz-spinner.tiny {
    .preloader-wrapper {
        @extend .tiny;
    }
}

mz-spinner {
    &.mv-red-light {
        background-color: transparent !important;
        .spinner-layer {
            border-color: $mv-red-light;
        }
    }
    &.mv-wine {
        background-color: transparent !important;
        .spinner-layer {
            border-color: $mv-wine;
        }
    }
}

.center-preloader-50 {
    $size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(calc(50% - #{$size})) translateY(calc(50% - #{$size}));
}