/* 1. MD Select, MDL Select, Mz Select
========================================================================== */

.mdl-popover .mdl-list {
    @extend .z-depth-1;
}

md-input-container,
mdl-textfield,
.mdl-textfield {
    width: 100%;
}

.has-add-option {
    .multiple-select-dropdown {
        li:first-of-type {
            [type='checkbox'],
            label {
                display: none;
            }
        }
    }
    .not-is-option,
    .select-dropdown li.disabled {
        color: $secondary-color;
        &:hover {
            background-color: #eee;
        }
        span {
            color: $secondary-color;
        } // Workaroung to hide checkbox on multiple select
        [type='checkbox'],
        label {
            display: none;
        }
    }
}

mdl-option,
.multiple-select-dropdown {
    &.not-is-option {
        .mdl-checkbox {
            display: none;
        }
    }
}

mdl-select {
    option.new-option {
        font-style: italic;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.04em;
        line-height: 1;
        display: -ms-flexbox;
        display: flex;
        min-height: 48px;
        box-sizing: border-box;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 16px; // color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        &:hover {
            background-color: rgb(238, 238, 238);
        }
    }
    .new-option {
        // background-color: transparent;
        &:hover {
            background-color: rgb(238, 238, 238);
        }
    }
    .mdl-popover.direction-up {
        bottom: -225px;
    }
}