.mat-stepper-horizontal {
    background-color: transparent;
}

.mat-step-header .mat-step-icon {
    background: #D44D5C;
}

.mat-horizontal-stepper-header-container {
    padding: 0 6px;
}

.mat-horizontal-stepper-content {
    padding: 0 6px;
}

.stepper-action {
    margin-top: 20px;
}
