<div class="fixed-action-btn">
  <a (click)="openClientModal()" [ngClass]="{pulse: clients && clients.length < 1}" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">add</i></a>
</div>

<div class="background-center-container" *ngIf="clients && clients.length < 1">
  <div class="background-circle white"></div>
  <div class="empty-page-content">
    <i class="material-icons large grey-text text-lighten-1">people</i>
    <div class="bottom-text">
      <div class="dim-text" style="font-size: 1.2rem; font-weight: bold;">Clique no "+"</div>
      <div class="dim-text">para adicionar clientes</div>
    </div>
  </div>
</div>

<main class="layout-content left-space u-row" [ngClass]="{'compressed-content': selectedClient !== undefined}">
  <div class="col s12 layout-content__wrapper">
    <table *ngIf="clients !== undefined && clients.length" class="highlight fixed-header">
      <thead class="grey-text text-darken-1">
        <tr>
          <th data-field="client">Cliente</th>
          <th data-field="email">Email</th>
          <!--<th data-field="gender" class="hide-on-small-only">Gênero</th>-->
          <th data-field="cpfCnpj" class="hide-on-small-only">CPF ou CNPJ</th>
          <!--<th class="right-align"></th>-->
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let c of clients">
          <tr *ngIf="c.isActive">
            <td (click)="onSelect(c)" class="pointer">{{c.name}}</td>
            <td (click)="onSelect(c)" class="pointer ">{{c.email}}</td>
            <!--<td (click)="onSelect(c)" class="pointer hide-on-small-only">
              <ng-container [ngSwitch]="c.gender">
                <span *ngSwitchCase="'F'">Feminino</span>
                <span *ngSwitchCase="'M'">Masculino</span>
              </ng-container>
            </td>-->
            <td (click)="onSelect(c)" class="pointer hide-on-small-only">{{c.cpfCnpj}}</td>
            <!--<td class="right-align">
              <a id="btn-dropdown" class="btn-floating btn-small waves-effect waves-dark transparent table-action-cell" style="box-shadow: none">
                <i class="material-icons mv-red-light-text">more_vert</i>
              </a>
            </td>-->
          </tr>
        </ng-container>
      </tbody>
    </table>

  </div>
</main>
<aside *ngIf="selectedClient" class="aside-layout grey lighten-4">
  <abx-client-editor (update)="updateClientList($event)" (close)="onEditorClosed()" [client]="selectedClient"></abx-client-editor>
</aside>