/* ==========================================================================
   Muuving variables
   ========================================================================== */
/**
 * Table of Contents:
 *
 *  1. Colors
 *  2. Layout
 *  3. Typography
 *  4. Forms
 */

/* 1. Colors
   ========================================================================== */
$mv-wine: #773344;
$mv-wine-light: lighten($mv-wine, 10%);
$mv-wine-dark: darken($mv-wine, 10%);
$mv-salmon: #E3B5A4;
$mv-ice: #F5E9E2;
$mv-black: #0B0014;
$mv-black-light: lighten($mv-black, 5%);
$mv-black-dark: darken($mv-black, 15%);
$mv-light-black: rgba($mv-black, 0.7);
$mv-red: #D44D5C;
$mv-red-light: lighten($mv-red, 10%);
$mv-red-dark: darken($mv-red, 10%);
$mv-graphite: #444;

$primary-color: $mv-wine;
$secondary-color: $mv-red;
$link-color: $mv-red;

/* 2. Layout
   ========================================================================== */
$sidebar-width: 75px;
$topbar-height: 50px;
$budgets-list-width-m: 60%;
$budgets-list-width-l: 65%;
$left-space: 8em;

/* 3. Typography
   ========================================================================== */
$mv-font: Questrial;
/* Font Sizes */
$font-xlarge: 1.4em;
$font-large: 1.2em;
$font-medium: 1.1em;
$font-normal: 1em;
$font-small: 0.8em;
/* Material Icon Sizes */
$xlarge-icon: 8rem;
$large-icon: 6rem;
$medium-icon: 4rem;
$small-icon: 2rem;


// 4. Forms
// ==========================================================================

// Text Inputs + Textarea
//$input-height: 3rem !default;
//$input-border-color: rgba(0,0,0, 0.12) !default;
//$input-border: 1px solid $input-border-color !default;

// ==========================================================================
// Materialize variables
// ==========================================================================
//
// Table of Contents:
//
//  1. Colors

// 1. Colors
// ==========================================================================
$primary-color: $mv-red;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: $mv-wine;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;
