/* ==========================================================================
   Muuving variables
   ========================================================================== */
/**
 * Table of Contents:
 *
 *  1. Colors
 *  2. Layout
 *  3. Typography
 *  4. Forms
 *  5. Buttons
 */

/* 1. Colors
   ========================================================================== */
$mv-wine: #773344;
$mv-wine-light: lighten($mv-wine, 10%);
$mv-wine-dark: darken($mv-wine, 10%);
$mv-salmon: #E3B5A4;
$mv-ice: #F5E9E2;
$mv-black: #0B0014;
$mv-black-light: lighten($mv-black, 5%);
$mv-black-dark: darken($mv-black, 15%);
$mv-light-black: rgba($mv-black, 0.7);
$mv-red: #D44D5C;
$mv-red-light: #e45e6e;
$mv-red-dark: darken($mv-red, 10%);
$mv-graphite: #444;

$primary-color: $mv-red;
$secondary-color: $mv-wine;
$link-color: $mv-red;

/* 2. Layout
   ========================================================================== */
$sidebar-width: 75px;
$topbar-height: 50px;
$budgets-list-width-m: 60%;
$budgets-list-width-l: 65%;
$left-space: 8em;

/* 3. Typography
   ========================================================================== */
$body-font: Questrial;
$head-font: Oswald;
$micro-font: Average;
/* Font Sizes */
$font-xlarge: 1.4em;
$font-large: 1.2em;
$font-medium: 1.1em;
$font-normal: 1em;
$font-small: 0.8em;
/* Material Icon Sizes */
$xlarge-icon: 8rem;
$large-icon: 6rem;
$medium-icon: 4rem;
$small-icon: 2rem;

// 4. Buttons
// ==========================================================================

// Shared styles
$button-border: none;
$button-background-focus: lighten($secondary-color, 4%);
$button-font-size: 1.3rem;
$button-height: 36px;
$button-padding: 0 2rem;
$button-radius: 2px;

// Disabled styles
$button-disabled-background: #DFDFDF;
$button-disabled-color: #9F9F9F;

// Raised buttons
$button-raised-background: $secondary-color;
$button-raised-background-hover: lighten($button-raised-background, 5%);
$button-raised-color: #fff;

// Large buttons
$button-large-icon-font-size: 1.6rem;
$button-large-height: $button-height * 1.5;

// Flat buttons
$button-flat-color: #343434;
$button-flat-disabled-color: lighten(#999, 10%);

// Floating buttons
$button-floating-background: $secondary-color;
$button-floating-background-hover: $button-floating-background;
$button-floating-color: #fff;
$button-floating-size: 40px;
$button-floating-large-size: 56px;
$button-floating-radius: 50%;

// 11. Global
// ==========================================================================

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;