<mz-modal class="medium-modal">
  <mz-modal-header>
    Novo cliente
  </mz-modal-header>
  <mz-modal-content>
    <form *ngIf="clientForm" [formGroup]="clientForm">
      <mz-input-container class="u-no-margin-top">
        <input mz-input formControlName="name" label="nome" id='newClientName' type='text'>
      </mz-input-container>
      <mz-input-container>
        <input mz-input formControlName="email" label="email" id='newClientEmail' type='text'>
      </mz-input-container>
      <div class="u-radio-group">
        <label>gênero</label>
        <mz-radio-button-container>
          <input mz-radio-button formControlName="newClientGenderOpt" [checked]="clientForm.value.clientGenderOpt === 'F' ? true : null"
            label="Feminino" id='femaleOpt2' value="F" type="radio" />
        </mz-radio-button-container>
        <mz-radio-button-container>
          <input mz-radio-button formControlName="newClientGenderOpt" [checked]="clientForm.value.clientGenderOpt === 'M' ? true : null"
            label="Masculino" id='maleOpt2' value="M" type="radio" />
        </mz-radio-button-container>
      </div>
      <mz-input-container>
        <input mz-input formControlName="cpfCnpj" label="CPF ou CNPJ" name='CpfCnpj' id='newClientCpfCnpj' type='text'>
      </mz-input-container>
    </form>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button (click)="addClient()" [disabled]="clientForm.invalid" [flat]="true" type="button">Salvar</button>
    <button mz-button [flat]="true" type="button" mz-modal-close>Cancelar</button>
  </mz-modal-footer>
</mz-modal>