gallery /deep/ {
    gallery-main {
        height: initial !important;
    }
    .g-container {
        width: 100% !important;
        height: 100% !important;
        height: -moz-available !important;
        height: stretch !important;
    }
}