#entry-container {
    display: table;
    margin: auto;
    height: 100%;
}

#entry-card-wrapper {
    display: table-cell;
    vertical-align: middle;
    .card {
        width: 300px;
    }
}

.background-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-image: url('/assets/images/escritorio-residencial.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 35%;
}