@charset "UTF-8";
@import '../../../styles/abstract/abstract';

nav,
.nav-wrapper {
    height: $topbar-height;
    line-height: calc(#{$topbar-height} - 2px);
    box-shadow: none;
}

.nav-wrapper {
    i.material-icons,
    /deep/ i.material-icons {
        height: $topbar-height;
        line-height: $topbar-height;
    }
}

.breadcrumb,
/deep/ .breadcrumb {
    font-size: 1.5rem;
    letter-spacing: .1em;
}

.topbar__icons,
/deep/ .topbar__icons {
    float: right;
}