<div fxLayout="row" class="flex-container">
  <div fxFlex="50%" fxFlex.gt-sm="40%" fxFlex class="flex-item">
    <div class="collection">

      <a href="#!" class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Title</span>
        <p>First Line
        </p>
        <a href="#!" class="secondary-content hide"><i class="material-icons">grade</i></a>
      </a>

      <a href="#!" class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Title</span>
        <p>First Line
        </p>
      </a>

      <a href="#!" class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Title</span>
        <p>First Line
        </p>
      </a>

      <a href="#!" class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Title</span>
        <p>First Line
        </p>
      </a>

      <a href="#!" class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Title</span>
        <p>First Line
        </p>
      </a>

      <a href="#!" class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Title</span>
        <p>First Line
        </p>
      </a>

      <a href="#!" class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Title</span>
        <p>First Line
        </p>
      </a>

      <a href="#!" class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Title</span>
        <p>First Line
        </p>
      </a>
    </div>
  </div>
  <div fxHide.lt-md fxFlex class="flex-item">
    <p *ngIf="project">
      {{project.id}} {{project.title}}
    </p>
  </div>

</div>