<app-topbar [componentData]="topbarComponentData" (searchEvent)="searchProject($event)"></app-topbar>
<div class="row">
    <div class="col s12">
        <table id="projectsList" class="highlight">
            <a (click)="openNewProjectDialog()" class="btn-floating btn-large addButton waves-effect waves-light mv-wine"><i class="material-icons">add</i></a>
            <thead>
                <tr>
                    <th data-field="title">Título</th>
                    <th data-field="client">Cliente</th>
                    <th data-field="wasPaid">Pago pela plataforma</th>
                    <th data-field="status">Aprovação</th>
                    <th data-field="received" class="right-align">Recebimento (R$)</th>
                    <!--<th class="right-align"></th>-->
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let p of projects">
                    <tr (click)="redirectToProject(p.id, p.title)">
                        <!--<a [routerLink]="['/projetos', p.id]">-->
                        <td>{{p.title}}</td>
                        <td>{{p.client.name}}</td>
                        <td>{{p.wasPaid ? 'Pago' : 'Não'}}</td>
                        <td [ngSwitch]="p.status">
                            <span *ngSwitchCase="ProjectStatus.Waiting">Aguardando</span>
                            <span *ngSwitchCase="ProjectStatus.Approved">Aprovado</span>
                            <span *ngSwitchCase="ProjectStatus.Disabled">Desativado</span>
                        </td>
                        <td class="right-align" *ngIf="!p.received">-</td>
                        <td class="right-align" *ngIf="p.received">{{p.received}}</td>
                        <!--<td class="right-align">
                <a dropdown class="dropdown-button btn-flat" href="javascript:void(0);" ><i class="material-icons mv-wine-text">more_vert</i></a>
            </td>-->
                        <!--<ul id="{{p.title}}-dropdown" class="dropdown-content">
                <li><a href="#!">one</a></li>
                <li><a href="#!">two</a></li>
                <li class="divider"></li>
                <li><a href="#!">three</a></li>
            </ul>-->
                        <!--</a>-->
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>

<router-outlet>
</router-outlet>