<div class="row">
    <div class="col s12">
        <table id="projectsList" class="highlight">
            <thead>
                <tr>
                    <th data-field="title">Título</th>
                    <th data-field="client">Cliente</th>
                    <th data-field="wasPaid">Pago pela plataforma</th>
                    <th data-field="status">Aprovação</th>
                    <th data-field="received" class="right-align">Recebimento (R$)</th>
                    <!--<th class="right-align"></th>-->
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let p of projects">
                    <tr (click)="redirectToProject(p.id)">
                        <!--<a [routerLink]="['/projetos', p.id]">-->
                        <td>{{p.title}}</td>
                        <td><span *ngIf="p.client && p.client.name">{{p.client.name}}</span></td>
                        <td><span *ngIf="p.wasPaid !== null">{{p.wasPaid ? 'Pago' : 'Não'}}</span></td>
                        <td>
                            <div *ngIf="p.status !== null" [ngSwitch]="p.status">
                                <span *ngSwitchCase="ProjectStatus.Waiting">Aguardando</span>
                                <span *ngSwitchCase="ProjectStatus.Approved">Aprovado</span>
                                <span *ngSwitchCase="ProjectStatus.Disabled">Desativado</span>
                            </div>
                        </td>
                        <td class="right-align"><span *ngIf="!p.received">-</span></td>
                        <td class="right-align"><span *ngIf="p.received">{{p.received}}</span></td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>