#entry-container {
    display: table;
    margin: auto;
    height: 100%;
}

#entry-card-wrapper {
    display: table-cell;
    vertical-align: middle;
    .card-panel {
        width: 300px;
    }
}