@charset "UTF-8";

/*** Abstract ***/
@import "abstract/abstract";

/*** Vendors ***/

/*** Helpers ***/
@import "helpers/color";

/*** Base ***/
@import "base/container";
@import "base/table";

/*** Layout ***/

/*** Components ***/
@import "components/buttons";

/*** Theme ***/
// Angular Material 2
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

// Angular 2 MDL 
@import "~angular2-mdl/scss/color-definitions";

$color-primary: $palette-blue-500;
$color-primary-dark: $palette-blue-700;
$color-accent: $palette-amber-A200;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;

@import '~angular2-mdl/scss/material-design-lite';

/*** Shame. Refactor this ***/
@import "shame";