<abx-layout>
    <main class="layout-content left-space row" style="padding-top: .75rem;">
        <div *ngIf="paying !== undefined" class="col s12 m8 l6">
            <label for="">Status</label>
            <ng-container *ngIf="!paying">
                <h5 style="margin: 0 0 1em 0; margin-bottom: 20px;">Não assinante</h5>
            </ng-container>
            <ng-container *ngIf="paying">
                <h5 style="margin: 0 0 1em 0; margin-bottom: 20px;">Assinante</h5>
            </ng-container>
            <div class="row">
                <div class="divider"></div>
            </div>
            <div class="row right-align">
                <!-- <button type="button" [disabled]="!paying" class="btn btn-flat waves-effect">
                Suspender
                </button> -->
                <button (click)="openBillingModal()" type="button" [disabled]="paying" class="btn waves-effect">
                Assinar
                </button>
            </div>
        </div>
    </main>
</abx-layout>
