<div class="background-image">
  <div id="entry-container">
    <main id="entry-card-wrapper">
      <div class="card z-depth-5" style="padding-bottom: 1px;">
        <div class="card-content">
          <h5>Escolha sua senha</h5>
          <p *ngIf="errorMessage && errorMessage.length" class="red-text">{{errorMessage}}</p>
          <form *ngIf="professional" [formGroup]="passwordForm" class="row">
            <mz-input-container class="u-col s12">
              <!--<i mz-icon-mdi mz-input-prefix class="material-icons">email</i>-->
              <input mz-input label='nova senha' formControlName="password" [validate]="true" [attr.type]="passwordForm.value.showPassword ? 'text' : 'password'"
                id="password">
            </mz-input-container>
            <div class="u-col s12 row">
              <div class="switch">
                <label style="display: flex; align-items: center;">
                <input type="checkbox" formControlName="showPassword">
                <span class="lever" style="margin-left: 0;"></span>
                <i class="material-icons" [ngClass]="{'mv-wine-text': passwordForm.value.showPassword}">visibility</i>
              </label>
              </div>
            </div>
            <div class="u-col s12 right-align">
              <button (click)="definePassword()" [disabled]="passwordForm.invalid" mz-button style="width: 100%">Próximo</button>
            </div>
          </form>
          <!--<div fxLayout="column" fxLayout.gt-sm="row" class="row">-->
          <!--<div class="row">
          <div class="u-col s6">
            <a routerLink="/entrar">Voltar</a>
          </div>
        </div>-->
        </div>
      </div>
    </main>
  </div>
</div>
