<div class="background-image">
  <div id="entry-container">
    <main id="entry-card-wrapper">
      <div class="card z-depth-5" style="padding-bottom: 1px;">
        <div class="card-content">
          <div class="row">
            <div class="input-field col s12 center">
              <div class="col s8 offset-s2">
                <img src="assets/images/muuving-logo.png" alt="Logo Muuving" class="responsive-img valign profile-image-login">
              </div>
              <p class="center login-form-text" style="text-transform: uppercase; letter-spacing: 2px; font-size: .8rem;">Plataforma de Negócios Archabox</p>
            </div>
          </div>
          <p *ngIf="errorMessage && errorMessage.length" class="red-text">{{errorMessage}}</p>
          <form [formGroup]="loginForm" class="col s12">
            <mz-input-container class="col s12">
              <!--<i mz-icon-mdi mz-input-prefix class="material-icons">email</i>-->
              <input mz-input label='email' formControlName="email" [validate]="true" name="Email" id="email" type="email">
            </mz-input-container>
            <mz-input-container class="col s12">
              <!--<i mz-icon-mdi mz-input-prefix class="material-icons">lock</i>-->
              <input (keyup.enter)="login()" mz-input label='senha' formControlName="password" [validate]="true" name="Password" id="password"
                type="password">
            </mz-input-container>
            <div class="right-align row">
              <button mz-button (click)="login()" [disabled]="loginForm.invalid" type="button" style="width: 100%">Entrar</button>
            </div>
          </form>
          <!--<div fxLayout="column" fxLayout.gt-sm="row" class="row">-->
          <div class="row">
            <!--<div fxFlex="50%">-->
            <div class="u-col s7">
              <a routerLink="/recuperar">Esqueci minha senha</a>
            </div>
            <div class="u-col s5 right-align">
              <a routerLink="/cadastro">Cadastre-se</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
