<abx-layout>
  <main class="layout-content left-space" style="padding-top: .75rem;">
    <form *ngIf="professional && profProfileForm" [formGroup]="profProfileForm" class="row">
      <div class="col s12 m6 l5">
        <mz-input-container>
          <input mz-input formControlName="name" label="nome *" id='businessName' type='text'>
        </mz-input-container>
        <div class="u-radio-group">
          <label>profissão</label>
          <mz-radio-button-container>
            <input mz-radio-button formControlName="professionOpt" name="professionOpt" label="Estudante" id='estOpt' value="0" type="radio"
              [checked]="profProfileForm.value.professionOpt == 0 ? true : null">
          </mz-radio-button-container>
          <mz-radio-button-container>
            <input mz-radio-button formControlName="professionOpt" name="professionOpt" label="Arquiteto" id='arqOpt' value="1" type="radio"
              [checked]="profProfileForm.value.professionOpt == 1 ? true : null">
          </mz-radio-button-container>
          <mz-radio-button-container>
            <input mz-radio-button formControlName="professionOpt" name="professionOpt" label="Designer de Interiores" id='desOpt' value="2"
              type="radio" [checked]="profProfileForm.value.professionOpt == 2 ? true : null">
          </mz-radio-button-container>
        </div>
        <mz-input-container>
          <input mz-input formControlName="celular" [textMask]="{mask: celularMask, placeholderChar: '\u2000', keepCharPositions: true}"
            label="celular *" id='celular' type='text'>
        </mz-input-container>
        <mz-select-container>
          <select mz-select formControlName="maritalStatus" id='maritalStatus' placeholder="estado cívil *">
            <option [value]="'Solteiro(a)'">Solteiro(a)</option>
            <option [value]="'Casado(a)'">Casado(a)</option>
            <option [value]="'Separado(a)'">Separado(a)</option>
            <option [value]="'Divorciado(a)'">Divorciado(a)</option>
            <option [value]="'Viúvo(a)'">Viúvo(a)</option>
          </select>
        </mz-select-container>
        <div>
          <label>gênero (opcional)</label>
          <mz-radio-button-container>
            <input mz-radio-button [checked]="profProfileForm.value.genderOpt === 'F' ? true : null" formControlName="genderOpt" label="Feminino"
              id='femaleOpt' value="F" type="radio" />
          </mz-radio-button-container>
          <mz-radio-button-container>
            <input mz-radio-button [checked]="profProfileForm.value.genderOpt === 'M' ? true : null" formControlName="genderOpt" label="Masculino"
              id='maleOpt' value="M" type="radio" />
          </mz-radio-button-container>
        </div>
      </div>

      <div class="col s12 m6 l5">
        <!--<div class="file-field input-field">
          <div class="btn disabled">
            <i class="material-icons white-text">file_upload</i>
            <input type="file">
          </div>
          <div class="file-path-wrapper">
            <input [value]="" disabled class="file-path validate" placeholder="selecione sua logo" type="text">
          </div>
        </div>-->
        <mz-input-container>
          <input mz-input formControlName="lastName" label="sobrenome *" id='lastname' type='text'>
        </mz-input-container>
        <mz-textarea-container>
          <textarea mz-textarea formControlName="description" [value]="professional.description" label='descrição profissional (opcional)'
            id='businessDescription' length='400'></textarea>
        </mz-textarea-container>
        <mz-input-container>
          <input mz-input formControlName="CEP" [textMask]="{mask: cepMask, placeholderChar: '\u2000'}" label="CEP *" id='cep' type='text'>
        </mz-input-container>
        <div class="u-row">
          <mz-input-container class="u-col s10">
            <input mz-input formControlName="addressArea" [attr.disabled]="addressFieldsDisabled ? addressFieldsDisabled : null" label="logradouro *"
              id='addressArea' type='text'>
          </mz-input-container>
          <mz-input-container class="u-col s2">
            <input mz-input formControlName="addressNumber" label="número *" id='addressNumber' type='text'>
          </mz-input-container>
        </div>


        <mz-input-container>
          <input mz-input formControlName="cpfCnpj" label="CPF ou CPNJ *" id='cpfCnpj' type='text'>
        </mz-input-container>
        <!--<mz-input-container>
          <input mz-input formControlName="rg" label="RG" id='rg' type='text'>
        </mz-input-container>-->
        <mz-input-container>
          <input mz-input formControlName="CAU" [textMask]="{mask: cauMask, placeholderChar: '\u2000', keepCharPositions: true}" label="CAU (opcional)"
            id='cau' type='text'>
        </mz-input-container>
      </div>
    </form>
    <div class="row">
      <div class="col s12">
        <p class="black-secondary-text">* Campos obrigatórios para geração de propostas</p>    
      </div>
      <div class="col s12">
        <div class="divider"></div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="u-col s9 right-align right">
          <button (click)="saveProfile()" type="button" [disabled]="!profProfileFormHasChange || profProfileForm.invalid" class="btn waves-effect">
          Salvar
        </button>
        </div>
      </div>

    </div>
  </main>
</abx-layout>