// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
$large-screen: 1200px !default;
[class*="layout__header"] {
    background-color: #D44D5C;
}

$drawer-width: 105px;
// /deep/ .mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen) {
//     >.mdl-layout__header {
//         margin-left: $drawer-width;
//         width: calc(100% - #{$drawer-width});
//     }
// }

.mdl-layout__drawer {
    // width: $drawer-width;
    // align-items: center;
}

// .mdl-layout__content {
//     margin-left: $drawer-width;
// }

.mdl-layout__drawer-button {
    color: white;
}

.side-bar {
    border-right: none;
    .mdl-navigation {
        height: calc(100% - 100px);
    }
    .title {
        padding-right: 40px;
    }
    .side-bar__link {
        &:last-of-type {
            margin-top: auto;
        }
    }

    .link-label {
        font-size: 1.2rem;
    }
}

.side-bar__link {
    &.has-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        .link-label {
            margin-left: 1rem;
        }
    }
}

.layout-content-container {
    &.showLoadingToast {
        /deep/ .layout-content {
            $loading-toast-height: 46px;
            $topbar-height: 56px;
            @media #{$small-and-down} {
                height: calc(100vh - #{$topbar-height} - #{$loading-toast-height});
                margin-top: #{$loading-toast-height};
            }
        }
    }
    /deep/ .layout-content {
        height: calc(100vh - 64px);
        @media only screen and (max-width: 1024px) {
            // @media only screen and (min-width: #{$small-screen-up}) and (max-width: 1024px) {
            height: calc(100vh - 56px);
        }
        &.left-space {
            @media #{$large-and-up} {
                padding-left: 28px;
            }
        }
    }
}

#loadingToastContainer {
    display: block;
    position: fixed;
    z-index: 10000;
    @media #{$medium-and-up} {
        top: 10%;
        right: 7%;
        max-width: 86%;
    }
    @media #{$small-and-down} {
        top: 0%;
        min-width: 100%;
        .toast {
            top: 46px;
            justify-content: initial;
        }
    }
}