<!--mdl-layout-fixed-drawer-->
<mdl-layout mdl-layout-fixed-header mdl-layout-fixed-drawer>
    <mdl-layout-drawer>
        <mdl-layout-title>
            Muubox
        </mdl-layout-title>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" routerLink="/projetos">Projetos</a>
            <a class="mdl-navigation__link" routerLink="/clientes">Clientes</a>
            <a class="mdl-navigation__link" disabled>Orçamentos</a>
        </nav>
    </mdl-layout-drawer>
    <mdl-layout-header>

        <mdl-layout-header-row>

            <mdl-layout-title>Muubox</mdl-layout-title>

            <mdl-layout-spacer>
            </mdl-layout-spacer>


        </mdl-layout-header-row>
        <mdl-layout-header-row>

        </mdl-layout-header-row>
    </mdl-layout-header>

    <mdl-layout-content>
        <!--Another example of usage-->
        <!--<mdl-layout-tab-panel>
            <mdl-tab-panel-title>
                <mdl-icon class="material-icons">person</mdl-icon>
                <span>Tab 1</span>
            </mdl-tab-panel-title>
            <mdl-tab-panel-content>
                1
            </mdl-tab-panel-content>
        </mdl-layout-tab-panel>-->
        <!--<mdl-layout-tab-panel mdl-layout-tab-panel-title="Tab 2">
            2
        </mdl-layout-tab-panel>
        <mdl-layout-tab-panel mdl-layout-tab-panel-title="Tab 2">
            2
        </mdl-layout-tab-panel>
        <mdl-layout-tab-panel mdl-layout-tab-panel-title="Tab 3">
            3
        </mdl-layout-tab-panel>-->
        <!--Dynamic toolbar content-->
        <ng-content select="router-outlet"></ng-content>
    </mdl-layout-content>
</mdl-layout>