<!--mdl-layout-fixed-drawer-->
<mdl-layout mdl-layout-fixed-header mdl-layout-fixed-drawer #mdlLayout1="mdlLayout">
    <mdl-layout-drawer *ngIf="showSidebar" class="side-bar z-depth-4">
        <mdl-layout-title class="title truncate">{{userName}}</mdl-layout-title>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link side-bar__link has-icon black-text" routerLink="/projetos" (click)="mdlLayout1.closeDrawer()">
                <img src="/assets/images/project.svg" class="detailed-icons large" alt="Projetos">
                <span class="link-label">Propostas</span>
            </a>
            <a class="mdl-navigation__link side-bar__link has-icon black-text" routerLink="/clientes">
                <img src="/assets/images/clients.svg" class="detailed-icons large" alt="Clientes">
                <span class="link-label">Clientes</span>
            </a>
            <div class="divider"></div>
            <a class="mdl-navigation__link side-bar__link has-icon black-text pointer" routerLink="/perfil" (click)="mdlLayout1.closeDrawer()"> 
                <img src="/assets/images/user.svg" class="detailed-icons large" alt="Perfil">
                <span class="link-label">Perfil</span>
                <!--<i class="material-icons right">navigate_next</i>-->
            </a>
            <a class="mdl-navigation__link side-bar__link has-icon black-text pointer" (click)="logout(); mdlLayout1.closeDrawer();">
                <img src="/assets/images/power.svg" class="detailed-icons large" alt="Sair">
                <span class="link-label">Sair</span>
            </a>
        </nav>
    </mdl-layout-drawer>

    <mdl-layout-header *ngIf="showHeader" [ngClass]="{'z-depth-0': tabsInChild}" class="top-bar">

        <mdl-layout-header-row>
            <mdl-layout-title>
                <abx-breadcrumb prefix="Início"></abx-breadcrumb>
            </mdl-layout-title>

            <mdl-layout-spacer>
            </mdl-layout-spacer>

        </mdl-layout-header-row>
        <!--<mdl-layout-header-row>

        </mdl-layout-header-row>-->
    </mdl-layout-header>

    <mdl-layout-content [style.margin]="!showHeader ? 0 : null" [style.overflow-y]="overflowY" [ngClass]="{'showLoadingToast@@@': showLoadingToast}"
        class="layout-content-container">

        <!--<ng-container *ngIf=" tabs">
            <mdl-layout-tab-panel *ngFor="let tab of tabs" mdl-layout-tab-panel-title="{{tab.title}}">
                <ng-content select="tab.selectors"></ng-content>
                <abx-layout-tab-content-container [componentData]="tab.componentData"></abx-layout-tab-content-container>
            </mdl-layout-tab-panel>
        </ng-container>-->

        <ng-content select="router-outlet, .layout-content"></ng-content>

        <!--<ng-container>
            <mdl-layout-tab-panel mdl-layout-tab-panel-title="Proposta">
                <ng-content select=".project-proposal"></ng-content>
            </mdl-layout-tab-panel>
            <mdl-layout-tab-panel mdl-layout-tab-panel-title="Versões">
                3
            </mdl-layout-tab-panel>
        </ng-container>-->


        <!--Dynamic toolbar content-->
        <!--<a (click)="toggleLoadingToast()" class="btn">TOGGLE LOADING</a>-->
        <!--<div id="loadingToastContainer">
            <div id="abxLoadingToast" class="toast">
                <mz-spinner [color]="'black'" class="tiny spinner mv-red-light"></mz-spinner>
                Salvando
            </div>
        </div>-->
    </mdl-layout-content>
</mdl-layout>
