<div id="entry-container">
  <main id="entry-card-wrapper">
    <div class="card z-depth-5" style="padding-bottom: 1px;">
      <div class="card-content">
        <h5>Recuperar senha</h5>
        <p *ngIf="errorMessage && errorMessage.length" class="red-text">{{errorMessage}}</p>
        <form [formGroup]="recoveryForm" class="col s12">
          <mz-input-container class="col s12">
            <!--<i mz-icon-mdi mz-input-prefix class="material-icons">email</i>-->
            <input mz-input label='email' formControlName="email" [validate]="true" id="email" type="email">
          </mz-input-container>
          <div class="right-align row">
            <button (click)="sendRequest(recoveryForm.value.email)" [disabled]="recoveryForm.invalid" mz-button style="width: 100%">Enviar</button>
          </div>
        </form>
        <!--<div fxLayout="column" fxLayout.gt-sm="row" class="row">-->
        <div class="row">
          <!--<div fxFlex="50%">-->
          <div class="u-col s6">
            <a routerLink="/entrar">Voltar</a>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>