@charset "UTF-8";
@import '../../../styles/abstract/abstract';

:host-context(.nav-wrapper) {
    input[type="search"] {
        $padding-left: 1rem;
        padding-left: $padding-left;
        width: calc(100% - #{$padding-left});
        // &:not(:focus) {color: transparent;}
    }
}