<main class="row">
  <md2-accordion (open)="accordionChanged($event.index)" (close)="accordionChanged($event.index)" class="mv-collapsible">
    <md2-accordion-tab>
      <md2-accordion-header class="collapsible-header"><i class="material-icons">face</i>Cliente</md2-accordion-header>
      <section *ngIf="project && clientForm" class="row">
        <form [formGroup]="clientForm">
          <div class="col s12 m6">
            <mz-textarea-container>
              <i mz-icon-mdi mz-textarea-prefix class="material-icons">comment</i>
              <textarea mz-textarea formControlName="briefing" label='briefing' id="briefing" length="150"></textarea>
            </mz-textarea-container>
            <mz-select-container>
              <select mz-select formControlName="estado" id='stateSelect'  placeholder="estado da obra">
              <option [value]="e" *ngFor="let e of estados" [selected]="e === project.activeProposal.uf">{{e}}</option>
            </select>
            </mz-select-container>
          </div>
          <div class="col s12 m6">
            <mz-select-container class="has-add-option">
              <select mz-select #clientSelectInput formControlName="clientId" id='clientSelect' label="cliente">
              <option [value]="0">- novo cliente -</option>
              <option [value]="c.id" *ngFor="let c of allClients()" [selected]="c.id === project.client.id">{{c.name}}</option>
            </select>
            </mz-select-container>
            <ng-container *ngIf="clientForm && clientForm.value && clientForm.value.clientId">
              <!--<p>P.C.ID: {{project.client.id}}</p>
              <p>Select value: {{clientForm.value.clientId}}</p>
              <p>Form Unsaved: {{clientFormUnsaved}}</p>-->
              <ng-container *ngIf="clientForm.value.clientId == 0">
                <mz-input-container>
                  <input mz-input formControlName="name" label="nome" name="Name" id='clientName' type='text'>
                </mz-input-container>
                <mz-input-container>
                  <input mz-input formControlName="email" label="email" name='Email' id='clientEmail' type='email'>
                </mz-input-container>
                <mz-input-container>
                  <input mz-input formControlName="cpfCnpj" label="CPF ou CNPJ" name='CpfCnpj' id='cpfCnpj' type='text'>
                </mz-input-container>
                <!--<div class="switch">
              <label>
              <input #saveClientSwitch (change)="saveNewClientSwitchChange(saveClientSwitch.checked)"  type="checkbox"/>
              <span class="lever" style="margin-left: 0;"></span>
              salvar cliente
            </label>
            </div>-->
              </ng-container>
            </ng-container>


          </div>
        </form>
      </section>
    </md2-accordion-tab>

    <md2-accordion-tab>
      <md2-accordion-header class="collapsible-header"><i class="material-icons">business</i>Profissional</md2-accordion-header>
      <section *ngIf="professional && profForm" class="row">
        <form [formGroup]="profForm">
          <div class="col s12 m6">
            <mz-input-container>
              <input mz-input formControlName="name" [value]="professional.name" label="nome profissional" name='BusinessName' id='businessName'
                type='text'>
            </mz-input-container>
            <div class="file-field input-field" hidden>
              <div class="btn">
                <i class="material-icons white-text">file_upload</i>
                <input type="file">
              </div>
              <div class="file-path-wrapper">
                <input [value]="" class="file-path validate" placeholder="selecione sua logo" type="text">
              </div>
            </div>
            <mdl-select formControlName="partnersIds" multiple="true" placeholder="profissionais envolvidos">
              <option (click)="openNewPartnerModal()" class="new-option" style="display: block;">
                - adicionar profissional -
                <mdl-option [value] class="not-is-option"><em>- adicionar profissional -</em></mdl-option>
              </option>
              <mdl-option mdl-ripple *ngFor="let p of allProfessionals()" [value]="p.id">{{ p.name }}</mdl-option>
            </mdl-select>
          </div>
          <div class="col s12 m6">
            <mz-textarea-container>
              <textarea mz-textarea formControlName="description" [value]="professional.description" label='descrição profissional' id='businessDescription'
                length='400'></textarea>
            </mz-textarea-container>
          </div>
        </form>
      </section>
    </md2-accordion-tab>

    <md2-accordion-tab>
      <md2-accordion-header class="collapsible-header"><i class="material-icons">description</i>Detalhes da proposta</md2-accordion-header>
      <section *ngIf="project" class="row">
        <div class="col s12">
          <form [formGroup]="proposalForm">
            <mz-textarea-container>
              <!--<i mz-icon-mdi mz-textarea-prefix class="material-icons">comment</i>-->
              <textarea mz-textarea formControlName="proposalIntro" label='introdução da proposta' id='propIntro' length='200'></textarea>
            </mz-textarea-container>
          </form>
        </div>

        <div class="col s12">
          <div style="display: flex; align-items: baseline;">
            <span style="margin-right: 1rem">
              Ambientes
            </span>
            <span>
              <a (click)="myPopover.toggle($event)" class="btn-floating btn-small waves-effect waves-dark transparent" style="box-shadow: none"><i style="color: #ee6e73 !important;" class="material-icons">add</i></a>
              <mdl-popover #myPopover [style.width.px]="250" class="mv-popover z-depth-2"> 
                <div mdl-shadow="6">
                  <mz-card class="u-no-padding no-title">
                    <mz-card-content>
                      <!--if currentProfessional.ambiences-->
                      <ul style="margin: 0"> 
                        <li style="padding: 14px 16px;">
                          <mz-checkbox-container>
                            <input mz-checkbox
                              [label]="'Ambience Title'"
                              id="checkbox-id"
                              type="checkbox">
                          </mz-checkbox-container>
                        </li>
                        <li style="padding: 14px 16px;">
                          <mz-checkbox-container>
                            <input mz-checkbox
                              [label]="'Ambience Title'"
                              id="checkbox-id2"
                              type="checkbox">
                          </mz-checkbox-container>
                        </li>
                      </ul>
                    </mz-card-content>
                    <mz-card-action class="right-align">
                      <a (click)="beginAmbience()" style="cursor: pointer"><i class="material-icons right">navigate_next</i>Criar ambiente</a>
                    </mz-card-action>
                  </mz-card>
                </div>
              </mdl-popover>
            </span>
          </div>
          <div *ngIf="project.ambiences && project.ambiences.length" class="collection">
            <a [routerLink]="['/projetos/ambiente', amb.id]" *ngFor="let amb of project.ambiences" class="collection-item">
              <div>{{amb.title}}<span class="secondary-content"><i class="material-icons">navigate_next</i></span></div>
            </a>
          </div>
          <div class="collection">
            <a href class="collection-item">
              <div>Ambience Title<span class="secondary-content"><i class="material-icons">navigate_next</i></span></div>
            </a>
          </div>
        </div>

      </section>
    </md2-accordion-tab>

    <md2-accordion-tab>
      <md2-accordion-header class="collapsible-header"><i class="material-icons">attach_money</i>Recebimento</md2-accordion-header>
      <div class="row">
        <div class="col s12">
          <h6>Total: <b>R$ 3.000,00</b></h6>
          <span class="italic small-font">Cobramos 15% para compensar nosso serviço</span>
        </div>
        <div class="col s12 m6 l4">
          <mz-radio-button-container>
            <input mz-radio-button label="Cobrar R$ 3.000,00" id='cobrarOp' value="1" name="radio-group" type="radio" />
          </mz-radio-button-container>
          <mz-radio-button-container>
            <input mz-radio-button label="Receber R$ 3.000,00" id='receberOp' value="2" name="radio-group" type="radio" />
          </mz-radio-button-container>
        </div>
        <div class="col s12 m6 l4" style="padding: 0;">
          <mz-select-container class="has-add-option col s12">
            <select mz-select label="sua conta bancária">
              <option>- Nova conta -</option>
              <option>Option 1</option>
              <option>Option 3</option>
            </select>
          </mz-select-container>
          <mz-select-container class=" col s12">
            <select mz-select label="banco">
              <option>Option 1</option>
              <option>Option 3</option>
            </select>
          </mz-select-container>
          <div class="row">
            <mz-input-container class="col s4">
              <input mz-input label="agência" id="agency">
            </mz-input-container>
            <mz-input-container class="col s8">
              <input mz-input label="conta" id="account">
            </mz-input-container>
          </div>
          <div class="switch">
            <label>
              <input type="checkbox"/>
              <span class="lever"></span>
              salvar conta
            </label>
          </div>
        </div>
      </div>
    </md2-accordion-tab>
  </md2-accordion>

  <div class="col s12 right-align" style="margin-top: 1rem">
    <button class="btn-flat waves-effect">visualizar proposta</button>
    <button class="btn waves-effect">enviar<span class="hide-on-small-only"> ao cliente</span></button>
  </div>
</main>