<abx-layout>
    <main class="layout-content left-space u-row">

        <div class="fixed-action-btn">
            <a (click)="openNewProjectModal()" title="Criar proposta" [ngClass]="{pulse: projects && projects.length < 1}" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">add</i></a>
        </div>

        <div *ngIf="projects && projects.length < 1" class="background-center-container">
            <div class="background-circle white"></div>
            <div class="empty-page-content">
                <i class="material-icons large grey-text text-lighten-1">library_books</i>
                <div class="bottom-text">
                    <div class="dim-text" style="font-size: 1.2rem; font-weight: bold;">Clique no "+"</div>
                    <div class="dim-text">para criar propostas</div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <ng-container *ngIf="projects !== undefined && clients !== undefined">
                <table *ngIf="projects.length" id="projectsList" class="highlight fixed-header">
                    <thead class="grey-text text-darken-1">
                        <tr>
                            <th data-field="title">Projeto</th>
                            <th data-field="client" class="hide-on-small-only">Cliente</th>
                            <!--<th data-field="wasPaid" class="hide-on-small-only">Pagamento</th>-->
                            <!--<th data-field="status" hidden>Status</th>-->
                            <th data-field="received" class="right-align">Valor</th>

                            <th class="right-align"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let p of projects">
                            <!--(click)="redirectToProject(p.title)"-->
                            <tr *ngIf="p.isActive">
                                <td (click)="redirectToProject(p.title)" class="pointer">{{p.title}}</td>
                                <td (click)="redirectToProject(p.title)" class="pointer hide-on-small-only"><span *ngIf="p.client && p.client.id">{{getClientName(p.client.id)}}</span></td>
                                <!--<td (click)="redirectToProject(p.title)" class="pointer hide-on-small-only"><span *ngIf="p.wasPaid !== null">{{p.wasPaid ? 'Pago' : 'Pendente'}}</span></td>-->
                                <!--<td hidden>
                            <div *ngIf="p.status !== null" [ngSwitch]="p.status">
                                <span *ngSwitchCase="ProjectStatus.Waiting">Aguardando</span>
                                <span *ngSwitchCase="ProjectStatus.Approved">Aprovado</span>
                                <span *ngSwitchCase="ProjectStatus.Disabled">Desativado</span>
                                <span *ngSwitchCase="ProjectStatus.NotSent">Proposta não enviada</span>
                            </div>
                        </td>-->
                                <td (click)="redirectToProject(p.title)" class="pointer right-align"><span>{{p.activeProposal.costFinal | currency:'BRL':true}}</span></td>
                                <!--<td (click)="redirectToProject(p.title)" class="pointer right-align"><span *ngIf="p.received">{{p.received}}</span></td>-->
                                <td class="right-align">
                                    <a (click)="disableProject(p.id)" class="btn-floating btn-small waves-effect waves-dark transparent table-action-cell" style="box-shadow: none; line-height: 1; height: inherit;">
                                    <i class="material-icons mv-red-light-text" style="line-height: 1;">delete</i>
                                </a>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </ng-container>
        </div>

    </main>
</abx-layout>