<main class="container">
  <div class="register-wrapper">

    <section class="register u-row">
      <div class="titles-container col s12 l6">
        <h1 class="bold mv-wine-dark-text">Archabox, plataforma de Arch&Design.</h1>

        <p class="font-large">Uma plataforma criada especialmente para auxiliar profissionais de interiores.</p>
        <!--<p class="font-large">Profissional de interiores? Gerencie suas relações comercias com o Archabox.</p>-->
      </div>
      <div class="col s12 hide-on-large-only">
        <a (click)="openSignupModal()" class="btn btn-large full-xs" type="button">Registre-se Gratuitamente</a>
      </div>
      <div class="col s12 l5 offset-l1 hide-on-med-and-down">
        <h2 class="font-medium" style="font-size: 1.5em; font-weight: 600; margin-bottom: 0;">Cadastre-se, é Gratuito!</h2>
        <div id="cadastro" class="card-panel z-depth-4 white scrollspy">
          <p *ngIf="errorMessage && errorMessage.length" class="red-text">{{errorMessage}}</p>
          <form [formGroup]="registerForm">
            <div class="input-field">
              <input formControlName="email" id="email" type="email" class="validate">
              <label for="email">email</label>
            </div>
            <div class="input-field">
              <input formControlName="name" id="name" type="text" class="validate">
              <label for="name">nome</label>
            </div>
          </form>
          <!--<p class="dim-text font-small">Ao confirmar o registro, concordo com os Termos de Serviço e a Política de Privacidade.</p>-->

          <a (click)="addUser()" class="btn btn-large full-xs truncate" type="button" style="width: 100%;">Registre-se gratuitamente</a>
        </div>
      </div>
    </section>


  </div>
  <section id="firstFeatureSection" class="u-row section-top-margin">
    <div class="feature-visual col s12 m5">
      <img src="/assets/images/screenshoots.png" class="responsive-img " alt="Formulário de criação de proposta">

    </div>
    <div class="col s12 m6 offset-m1">
      <h2 class="bold mv-wine-dark-text">Faça propostas matadoras</h2>
      <p class="font-medium">Em menos de 5 minutos você PRECIFICA SEU PROJETO, GERA O CONTRATO e envia uma proposta MATADORA para o seu cliente.</p>
    </div>

  </section>
  <section class="u-row section-top-margin">
    <div class="col s12 m5 offset-m1 show-on-small" style="display: none">
      <img src="/assets/images/recebimento.png" class="responsive-img z-depth-3" alt="Formulário de conta bancária de recebimento">
    </div>
    <div class="col s12 m6">
      <h2 class="bold mv-wine-dark-text">Receba em dia</h2>
      <p class="font-medium">Controlamos todos os pagamentos do cliente, fazendo as cobranças e te avisando sempre que houver alguma alteração,
        que tal?</p>
    </div>
    <div class="col s12 m5 offset-m1 hide-on-small-only">
      <img src="/assets/images/recebimento.png" class="responsive-img z-depth-3" alt="Formulário de conta bancária de recebimento">
    </div>
  </section>
  <section class="u-row section-top-margin">
    <div class="col s12 m5">
      <img src="/assets/images/orcamentos.png" class="responsive-img z-depth-3" alt="Formulário de pedidos de orçamento">
    </div>
    <div class="col s12 m6 offset-m1">
      <h2 class="bold mv-wine-dark-text">Pedidos de orçamentos. Com um clique</h2>
      <p class="font-medium">Escolha as lojas, o produto e as características e receba TODOS os orçamentos em um só lugar, numa tabela fácil de
        comparar. Transforme o transtorno em praticidade.</p>
    </div>
  </section>
  <section class="center-align container section-top-margin">
    <h2 class="bold title-line-height mv-wine-dark-text">Faça como os <span class="mv-red-text" style="font-size: 1.3em">2.754</span> profissionais e escritórios de Arquitetura
      e Design, cadastre-se no Archabox.</h2>
    <a (click)="openSignupModal()" class="btn btn-large full-xs show-on-medium-and-down" style="display: none;">Registre-se gratuitamente</a>
    <a href="#cadastro" class="btn btn-large full-xs  hide-on-med-and-down">Registre-se gratuitamente</a>
  </section>
</main>
<footer class="page-footer mv-wine section-top-margin">
  <div class="container">
    <div class="row right-align">
      <ul class="soc">
        <li><a target="_blank" class="soc-facebook" title="Facebook" href="https://www.facebook.com/archathon/"></a></li>
        <li><a target="_blank" class="soc-instagram" title="Instagram" href="https://www.instagram.com/archathonbrasil/"></a></li>
        <li><a target="_blank" class="soc-pinterest" title="Pinterest" href="https://pinterest.com/Muuving"></a></li>
        <li><a target="_blank" class="soc-twitter soc-icon-last" title="Twitter" href="https://twitter.com/Muuving"></a></li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <span class="last-links">
        <ul>
          <li><a class="pointer">Contato</a></li>
        </ul>
      </span>
      <div class="right right-align">
        © Todos os direitos reservados.
      </div>
    </div>
  </div>
</footer>
<!--<img src="/assets/images/cliente.png" class="responsive-img z-depth-3" alt="Formulário de conta bancária de recebimento">

<img src="/assets/images/prop-intro.png" class="responsive-img z-depth-3" alt="Formulário de conta bancária de recebimento">

<img src="/assets/images/prop-briefing.png" class="responsive-img z-depth-3" alt="Formulário de conta bancária de recebimento">-->