<main class="container">
  <div class="register-wrapper">

    <section class="register u-row">
      <div class="titles-container col s12 l6">
        <h1 class="bold mv-wine-dark-text">Archabox, plataforma de Arch&Design.</h1>
        <p class="font-large">Gerencie suas relações comerciais através do Archabox.</p>
      </div>
      <div class="col s12 hide-on-large-only">
        <a [routerLink]="['/cadastro']" class="btn btn-large full-xs" type="button">Registre-se gratuitamente</a>
      </div>
      <div class="col s12 l5 offset-l1 hide-on-med-and-down">
        <h2 class="font-medium" style="font-size: 1.5em; font-weight: 600; margin-bottom: 0;">Registre-se Gratuitamente</h2>
        <div class="card-panel z-depth-4 white">
          <div class="input-field">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
          <div class="input-field">
            <input id="password" type="password" class="validate">
            <label for="password">Senha</label>
          </div>
          <p class="dim-text font-small">Ao confirmar o registro, concordo com os Termos de Serviço e a Política de Privacidade.</p>

          <a [routerLink]="['/cadastro']" class="btn btn-large full-xs truncate" type="button" style="width: 100%;">Cadastre-se gratuitamente</a>
        </div>
      </div>
    </section>


  </div>
  <section id="firstFeatureSection" class="u-row section-top-margin">
    <div class="feature-visual col s12 m5">
      <img src="/assets/images/screenshoots.png" class="responsive-img " alt="Formulário de criação de proposta">
      <!--<img src="/assets/images/prop-briefing.png"  alt="Introdução da proposta">-->

    </div>
    <div class="col s12 m6 offset-m1">
      <h2 class="bold mv-wine-dark-text">Faça propostas matadoras</h2>
      <p class="font-medium">Em menos de 5 minutos você PRECIFICA SEU PROJETO, GERA O CONTRATO e envia uma proposta MATADORA para o seu cliente.</p>
      <!--<a class="pointer bold">Saiba mais</a>-->
    </div>

  </section>
  <section class="u-row section-top-margin">
    <div class="col s12 m5 offset-m1 show-on-small" style="display: none">
      <img src="/assets/images/recebimento.png" class="responsive-img z-depth-3" alt="Formulário de conta bancária de recebimento">
    </div>
    <div class="col s12 m6">
      <h2 class="bold mv-wine-dark-text">Receba em dia</h2>
      <p class="font-medium">Controlamos todos os pagamentos do cliente, fazendo as cobranças e te avisando sempre que houver alguma alteração,
        que tal?</p>
      <!--<a class="pointer bold">Saiba mais</a>-->
    </div>
    <div class="col s12 m5 offset-m1 hide-on-small-only">
      <img src="/assets/images/recebimento.png" class="responsive-img z-depth-3" alt="Formulário de conta bancária de recebimento">
    </div>
  </section>
  <section class="u-row section-top-margin">
    <div class="col s12 m5">
      <img src="/assets/images/orcamentos.png" class="responsive-img z-depth-3" alt="Formulário de pedidos de orçamento">
    </div>
    <div class="col s12 m6 offset-m1">
      <h2 class="bold mv-wine-dark-text">Pedidos de orçamentos. Com um clique</h2>
      <p class="font-medium">Escolha as lojas, o produto e as características e receba TODOS os orçamentos em um só lugar, numa tabela fácil de
        comparar. Transforme o transtorno em praticidade.</p>
      <!--<a class="pointer bold">Saiba mais</a>-->
    </div>
  </section>
  <section class="center-align container section-top-margin">
    <h2 class="bold title-line-height mv-wine-dark-text">Faça como os <span class="mv-red-text" style="font-size: 1.3em">2.754</span> profissionais e escritórios de Arch&Design
      e cadastre-se na plataforma destinada à Arquitetos e Designers de Interiores.</h2>
    <a [routerLink]="['/cadastro']" class="btn btn-large full-xs">Cadastre-se gratuitamente</a>
  </section>
</main>
<footer class="page-footer mv-wine section-top-margin">
  <div class="container">
    <div class="row right-align">
      <ul class="soc">
        <li><a target="_blank" class="soc-facebook" title="Facebook" href="https://pt-br.facebook.com/Muuving"></a></li>
        <li><a target="_blank" class="soc-instagram" title="Instagram" href="https://www.instagram.com/muuving/"></a></li>
        <li><a target="_blank" class="soc-pinterest" title="Pinterest" href="https://pinterest.com/Muuving"></a></li>
        <li><a target="_blank" class="soc-twitter soc-icon-last" title="Twitter" href="https://twitter.com/Muuving"></a></li>
      </ul>
      <!--<div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>-->
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <span class="last-links">
        <ul>
          <li><a class="pointer">Contato</a></li>
        </ul>
      </span>
      <div class="right right-align">
        © Todos os direitos reservados.
      </div>
      <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
    </div>
  </div>
</footer>