// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
:host {
    display: block;
    background-color: white;
}

.register-wrapper {
    @media #{$large-and-up} {
        padding-top: 6em;
    }
}

.titles-container {
    height: 100%;
    min-height: 250px;
}

.register {
    height: 85vh;
    min-height: 220px;
    @media #{$medium-and-up} {
        height: calc(100vh - 6rem);
    }
}

#firstFeatureSection {
    @media #{$large-and-up} {
        margin-top: 0;
    }
}

.last-links {
    ul {
        display: inline;
        li {
            a {
                color: white;
            }
            display: inline-block;
        }
    }
}

.btn.full-xs {
    @media #{$small-and-down} {
        padding: 0 .5rem;
    }
}

.section-top-margin {
    margin-top: 100px;
}

.feature-visual {
    position: relative;
}